main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
}

.nombre-postulante {
    display: flex;
    align-items: center;
    width: 250px;
}


.subcontenedor-postulante {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-bottom: solid 1px grey;
    border-radius: 3px;
}

.btn-eliminar-postulante{
    text-decoration: none;
    padding: 1px 6px;
    margin-right: 10px;
    color: white;
    background-color: #c5c2c2;
    transition: 350ms;
    border-radius: 50%;
}

.btn-eliminar-postulante:hover{
    transition: 350ms;
    background-color: #ff4e22;
}

.btn-cerrar {
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: #c8654d;
    border-radius: 4px;
}

.btn-cerrar:hover{
    background-color: #ff4e22;
}

.nueva-etapa {
    margin-left: 5px;
    text-decoration: none;
    color: #49d150f6;
    padding: 10px;
    border-radius: 4px;
    transition: 350ms;
    border: solid 1px #49d150f6;
}

.nueva-etapa:hover {
    color: white;
    transition: 350ms;
    background-color: #49d150f6;
}

.ver-mas {
    color: #00aef3;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    border: solid 1px #00aef3;
    margin-left: 5px;
    transition: 350ms;
}

.ver-mas:hover {
    background-color: #00aef3;
    color: white;
    transition: 350ms;

}

.select {
    background-color: rgb(230, 230, 230);
    border-radius: 9px;
}

.contenedor-infos {
    padding: 20px;
}