.contenedor-nueva-etapa {
    width: 100%;
}

.contenedor-nuevaetapa__preguntas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contenedor-pregunta{
    max-width: 500px;
}
.btn-respuestas {
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    margin-right:5px;
    color: white;
    background-color: #a5a5a5;
}

.btn-respuestas:hover {
    background-color: #7c7c7c;
}

.btn-respuesta-incorrecta {
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    margin-right:5px;
    color: white;
    background-color: #ff4d47;

}

.btn-respuesta-correcta {
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    margin-right:5px;
    color: white;
    background-color: #00bd94;
}

.contenedor-btn-respuestas {
    margin: 13px 0px;
}

.eliminar-pregunta {
    background-color: #ff1e00;
    color: white;
    border-radius: 4px;
    padding: 3px 5px;
    margin-bottom: 5px;
    text-decoration: none;
}

.agregar-pregunta {
    background-color: #35c1f8;
    color: white;
    border-radius: 4px;
    padding: 3px 5px;
    margin-bottom: 5px;
    text-decoration: none;
}