.btn-correcto {
    background-color: #2c8383;
    text-decoration: none;
    color: white;
}

.btn-incorrecto {
    text-decoration: none;
    background-color: #8b483c;
    color: white;
}

.btn-correcto__select {
    text-decoration: none;
    background-color: cyan;
}
.btn-incorrecto__select {
    text-decoration: none;
    background-color: tomato;
}

.calificado {
    display: none;
}